@import ../../../styles/common.colors

.invoice
    margin-bottom: 24px

    &__selectWrapper
        width: 48%

    &__card
        margin-bottom: 1.5rem

        &:nth-last-child(1)
            margin-bottom: 0