@import ../../styles/common.colors

%cellStyle
    border: 0.5px solid #535353
    font-size: 12px
    font-weight: 400
    color: $darkGray

.appTableRow
    th
        @extend %cellStyle

    td,
    th
        @extend %cellStyle

        > input
            width: 100%
            height: 100%
            border: none
            background-color: transparent
            font-size: 12px
            text-align: center
            color: $black

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button
                -webkit-appearance: none
                margin: 0

            &:focus
                outline-style: none