@import ../../styles/common.colors

.toggleSwitch
    display: flex
    align-items: center
    
    &__text
        font-weight: 400
        line-height: 1
        color: $mediumGray

    &__isActive
        color: $black

    &__content
        width: 54px
        height: 28px
        display: inline-block
        cursor: pointer
        position: relative

    span
        background-color: $gray
        border-radius: 1rem
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0

        &::before
            content: ''
            width: 40%
            height: 80%
            background-color: white
            border-radius: 50%
            transition-duration: .2s
            position: absolute
            top: 9.5%
            left: 8%

    input
        visibility: hidden

        &:checked + span
            background-color: $blue

            &::before
                transform: translateX(110%)

    &__type2
        width: 35px
        height: 12px

        span
            &::before
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15)
                width: 16px
                height: 16px
                top: -2px
                left: -4px
        
        input
            &:checked + span
                background-color: $aqua

                &::before
                    transform: translateX(160%)
            
            